/*!
 * Start Bootstrap - Grayscale Bootstrap Theme (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

body {
    width: 100%;
    height: 100%;
    font-family: Lora, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #fff;
    background: url(/static/img/bg.jpg) no-repeat top center scroll;
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
html {
    width: 100%;
    height: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 35px;
    text-transform: uppercase;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}
button {
    color: #000;
}
p {
    margin: 0 0 25px;
    font-size: 18px;
    line-height: 1.5;
}
@media(min-width:767px) {
    p {
        margin: 0 0 35px;
        font-size: 20px;
        line-height: 1.6;
    }
}
a {
    color: #219ab3;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
a:hover,
a:focus {
    text-decoration: none;
    color: #11505d;
}
.light {
    font-weight: 400;
}
.navbar-custom {
    margin-bottom: 0;
    border-bottom: 1px solid rgba(255, 255, 255, .3);
    text-transform: uppercase;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #000;
}
.navbar-custom .navbar-brand {
    font-weight: 700;
}
.navbar-custom .navbar-brand:focus {
    outline: 0;
}
.navbar-custom .navbar-brand .navbar-toggle {
    padding: 4px 0px 0px 6px;
    font-size: 16px;
    color: #fff;
    margin-right: 0px;
}
.navbar-custom .navbar-brand .navbar-toggle:focus,
.navbar-custom .navbar-brand .navbar-toggle:active {
    outline: 0;
}
.navbar-custom a {
    color: #fff;
}
.navbar-custom .nav select {
    outline: none;
    background-color: rgba(255, 255, 255, .3);
    margin: 14px 0 0 15px;
    color: #000;
    max-width: 100px;
    font-size: .9em;
}
.navbar-collapse select {
    margin: 0px 0 5px 15px;
    font-weight: bold;
    display: none;
}
.navbar-custom .nav li.active {
    outline: none;
    background-color: rgba(255, 255, 255, .3);
}
.navbar-custom .nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}
.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus,
.navbar-custom .nav li a.active {
    outline: 0;
    background-color: rgba(255, 255, 255, .3);
}
#global-map {
    width: 100%;
}
#ip-surf { display: none; }
#ip-surf-mirror {
	display: none;
}
@media(min-width:767px) {
    .navbar-custom .nav li a {
        font-size: .9em
    }
    .navbar {
        padding: 20px 0;
        border-bottom: 0;
        letter-spacing: 1px;
        background: 0 0;
        -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
        transition: background .5s ease-in-out, padding .5s ease-in-out;
    }
    .top-nav-collapse {
        padding: 0;
        background-color: #000;
    }
    .navbar-custom.top-nav-collapse {
        border-bottom: 1px solid rgba(255, 255, 255, .3);
    }
    #global-map {
        width: auto;
    }
    #ip-surf-mirror {
		display: none;
	}
	#ip-surf { display:; }
}
.intro {
    display: table;
    width: 100%;
    height: auto;
    padding: 100px 0;
    text-align: center;
    color: #fff;
    
}
.intro .intro-body {
    display: table-cell;
    vertical-align: middle;
}
.intro .intro-body .brand-heading {
    font-size: 33px;
}
.intro .intro-body .intro-text {
    font-size: 18px;
}
.intro .intro-body input[type='text'] {
    min-height: 39px;
}
.intro .intro-body button[type='submit'] {
    min-height: 39px;
}
#nav_login_link,
#nav_terms_link,
#nav_about_link,
#nav_contact_link {
    display: ;
}

@media(min-width:367px) {
	#ip-surf { display:inline-block; }
}

@media(min-width:767px) {
    .intro {
        height: 100%;
        padding: 0;
    }
    .intro .intro-body .brand-heading {
        font-size: 55px;
        margin-bottom: 15px;
        margin-top: 35px;
    }
    .intro .intro-body .intro-text {
        font-size: 17px;
    }
    #nav_login_link,
    #nav_about_link,
    #nav_terms_link,
    #nav_contact_link {
        display: none;
    }
    #ip-surf { display:inline-block; }
}
@media(min-width:867px) {
    #nav_login_link, #nav_about_link, #nav_terms_link, #nav_contact_link {
        display: none;
    }
    #ip-surf-mirror {
		display:none;
	}
	#ip-surf { display:inline-block; }
}
@media(min-width:1024px) {
    .intro {
        height: 100%;
        padding: 0;
    }
    .intro .intro-body .brand-heading {
        font-size: 61px;
        margin-bottom: 0px;
        margin-top: 65px;
    }
    .intro .intro-body .intro-text {
        font-size: 25px;
        width: 120%;
        margin-left: -10%;
    }
    #nav_login_link,
    #nav_about_link,
    #nav_terms_link,
    #nav_contact_link {
        display: none;
    }
    #ip-surf-mirror {
		display:inline-block;
	}
	#ip-surf { display:inline-block; }
}
@media(min-width:1220px) {
    #nav_login_link, #nav_about_link, #nav_terms_link, #nav_contact_link {
        display: block;
    }
    #ip-surf-mirror {
		display:inline-block;
	}
	#ip-surf { display:inline-block; }
}
.btn-circle {
    width: 70px;
    height: 70px;
    margin-top: 15px;
    padding: 13px 3px 0px 0px;
    border: 2px solid #fff;
    border-radius: 35px;
    font-size: 40px;
    color: #fff;
    background: 0 0;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}
.btn-circle:hover,
.btn-circle:focus {
    outline: 0;
    color: #fff;
    background: rgba(255, 255, 255, .1);
}
.btn-circle i.animated {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
}
.btn-circle:hover i.animated {
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
}
@-webkit-keyframes pulse {
    0 {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
@-moz-keyframes pulse {
    0 {
        -moz-transform: scale(1);
        transform: scale(1);
    }
    50% {
        -moz-transform: scale(1.2);
        transform: scale(1.2);
    }
    100% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
}
.content-section {
    padding-top: 100px;
}
.vpn-section {
    width: 100%;
    padding: 50px 0;
    color: #fff;
    background: url(../img/downloads-bg.jpg) no-repeat center center scroll;
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
#map {
    width: 100%;
    height: 200px;
    margin-top: 100px;
}
@media(min-width:767px) {
    .content-section {
        padding-top: 250px;
    }
    .download-section {
        padding: 100px 0;
    }
    #map {
        height: 400px;
        margin-top: 250px;
    }
}
.btn {
    text-transform: uppercase;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.btn-default {
    border: 1px solid #219ab3;
    color: #219ab3;
    background-color: transparent;
}
.btn-default:hover,
.btn-default:focus {
    border: 1px solid #219ab3;
    outline: 0;
    color: #000;
    background-color: #219ab3;
}
ul.banner-social-buttons {
    margin-top: 0;
}
@media(max-width:1199px) {
    ul.banner-social-buttons {
        margin-top: 15px;
    }
}
@media(max-width:767px) {
    ul.banner-social-buttons li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }
    ul.banner-social-buttons li:last-child {
        margin-bottom: 0;
    }
}
footer {
    padding: 50px 0;
}
footer p {
    margin: 0;
}
::-moz-selection {
    text-shadow: none;
    background: #ccc;
}
::selection {
    text-shadow: none;
    background: #ccc;
}
img::selection {
    background: 0 0;
}
img::-moz-selection {
    background: 0 0;
}
body {
    webkit-tap-highlight-color: rgba(255, 255, 255, .2);
}